In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
dataset = pd.read_csv(r'Dataset_raw_FWI.csv/cwfis_fwi2010s.csv')
dataset

,aes,wmo,rep_date,temp,td,rh,ws,wg,wdir,pres,...,sog,ffmc,dmc,dc,bui,isi,fwi,dsr,opts,calcstatus
0,1012475,71031,2010-01-01 12:00:00,9.1,8.1,93.5,19.0,NaN,160,1002.95,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IDW=RH:R:M=1:,-3
1,1012710,71798,2010-01-01 12:00:00,7.3,7.3,100.0,2.0,NaN,90,1002.10,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M=1:,-3
2,1014820,71774,2010-01-01 12:00:00,5.8,5.8,100.0,7.4,NaN,154,1003.00,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IDW=RH:WSD:R:M=1:,-3
3,1015630,71927,2010-01-01 12:00:00,4.8,4.0,95.0,7.0,NaN,160,1001.20,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IDW=R:M=1:,-3
4,1016640,71778,2010-01-01 12:00:00,8.9,7.4,90.7,9.0,NaN,80,1002.78,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IDW=T:RH:R:M=1:,-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5968196,8501131,71002,2019-12-31 12:00:00,-22.0,-26.0,70.1,0.0,0.0,0,1023.90,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M=1:,-3
5968197,8501900,71816,2019-12-31 12:00:00,-17.0,-24.0,54.8,11.1,11.1,220,1023.00,...,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M=1:,-3
5968198,8502801,71902,2019-12-31 12:00:00,-9.0,-18.0,48.4,11.1,11.1,210,1018.20,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IDW=R:M=1:,-3
5968199,8504175,71825,2019-12-31 12:00:00,-22.0,-25.0,76.7,0.0,0.0,0,1021.40,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M=1:,-3
5968200,850B5R1,71339,2019-12-31 12:00:00,-6.0,-14.0,53.6,3.7,3.7,271,1019.80,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M=1:,-3

In [4]:
dataset.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5968201 entries, 0 to 5968200
Data columns (total 23 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   aes         5968201 non-null  object
 1   wmo         5968201 non-null  int64
 2   rep_date    5968201 non-null  object
 3   temp        5967432 non-null  float64
 4   td          5961968 non-null  float64
 5   rh          5962172 non-null  float64
 6   ws          5967395 non-null  float64
 7   wg          3287448 non-null  float64
 8   wdir        5968201 non-null  int64
 9   pres        5962137 non-null  float64
 10  vis         5967430 non-null  float64
 11  precip      5967829 non-null  float64
 12  rndays      5968201 non-null  int64
 13  sog         5968074 non-null  float64
 14  ffmc        4007493 non-null  float64
 15  dmc         4004564 non-null  float64
 16  dc          4007434 non-null  float64
 17  bui         3826448 non-null  float64
 18  isi         3827584 non-null  float64
 19  fwi         3824766 non-null  float64
 20  dsr         3824766 non-null  float64
 21  opts        5968201 non-null  object
 22  calcstatus  5968201 non-null  int64
dtypes: float64(16), int64(4), object(3)
memory usage: 1.0+ GB

In [6]:
dataset.drop(['aes','wmo','calcstatus','opts'], axis=1, inplace=True)

In [8]:
dataset.columns

Index(['rep_date', 'temp', 'td', 'rh', 'ws', 'wg', 'wdir', 'pres', 'vis',
       'precip', 'rndays', 'sog', 'ffmc', 'dmc', 'dc', 'bui', 'isi', 'fwi',
       'dsr'],
      dtype='object')

In [11]:
column_mapping = {
    'rep_date': 'report_date',
    'temp': 'temperature',
    'td': 'dew_point_temperature',
    'rh': 'relative_humidity',
    'ws': 'wind_speed',
    'wg': 'wind_gust',
    'wdir': 'wind_direction',
    'pres': 'atmospheric_pressure',
    'vis': 'visibility',
    'precip': 'precipitation',
    'rndays': 'rain_days',
    'sog': 'snow_on_ground',
    'ffmc': 'fine_fuel_moisture_code',
    'dmc': 'duff_moisture_code',
    'dc': 'drought_code',
    'bui': 'build_up_index',
    'isi': 'initial_spread_index',
    'fwi': 'fire_weather_index',
    'dsr': 'daily_severity_rating',
    'lat': 'latitude',
    'lon': 'longitude',
    'elev': 'elevation'
}

In [12]:
dataset.rename(columns=column_mapping, inplace=True)

In [13]:
dataset

,report_date,temperature,dew_point_temperature,relative_humidity,wind_speed,wind_gust,wind_direction,atmospheric_pressure,visibility,precipitation,rain_days,snow_on_ground,fine_fuel_moisture_code,duff_moisture_code,drought_code,build_up_index,initial_spread_index,fire_weather_index,daily_severity_rating
0,2010-01-01 12:00:00,9.1,8.1,93.5,19.0,NaN,160,1002.95,21.5,10.05,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-01 12:00:00,7.3,7.3,100.0,2.0,NaN,90,1002.10,23.8,7.40,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-01 12:00:00,5.8,5.8,100.0,7.4,NaN,154,1003.00,22.7,14.78,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-01 12:00:00,4.8,4.0,95.0,7.0,NaN,160,1001.20,18.3,11.59,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-01 12:00:00,8.9,7.4,90.7,9.0,NaN,80,1002.78,22.1,9.05,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5968196,2019-12-31 12:00:00,-22.0,-26.0,70.1,0.0,0.0,0,1023.90,14.5,0.00,3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5968197,2019-12-31 12:00:00,-17.0,-24.0,54.8,11.1,11.1,220,1023.00,24.1,0.00,1,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5968198,2019-12-31 12:00:00,-9.0,-18.0,48.4,11.1,11.1,210,1018.20,24.1,0.00,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5968199,2019-12-31 12:00:00,-22.0,-25.0,76.7,0.0,0.0,0,1021.40,24.1,0.00,3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5968200,2019-12-31 12:00:00,-6.0,-14.0,53.6,3.7,3.7,271,1019.80,14.5,0.00,4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
dataset.drop(['wind_gust'], axis = 1, inplace = True)
dataset

,report_date,temperature,dew_point_temperature,relative_humidity,wind_speed,wind_direction,atmospheric_pressure,visibility,precipitation,rain_days,snow_on_ground,fine_fuel_moisture_code,duff_moisture_code,drought_code,build_up_index,initial_spread_index,fire_weather_index,daily_severity_rating
0,2010-01-01 12:00:00,9.1,8.1,93.5,19.0,160,1002.95,21.5,10.05,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-01 12:00:00,7.3,7.3,100.0,2.0,90,1002.10,23.8,7.40,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-01 12:00:00,5.8,5.8,100.0,7.4,154,1003.00,22.7,14.78,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-01 12:00:00,4.8,4.0,95.0,7.0,160,1001.20,18.3,11.59,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-01 12:00:00,8.9,7.4,90.7,9.0,80,1002.78,22.1,9.05,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5968196,2019-12-31 12:00:00,-22.0,-26.0,70.1,0.0,0,1023.90,14.5,0.00,3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5968197,2019-12-31 12:00:00,-17.0,-24.0,54.8,11.1,220,1023.00,24.1,0.00,1,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5968198,2019-12-31 12:00:00,-9.0,-18.0,48.4,11.1,210,1018.20,24.1,0.00,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5968199,2019-12-31 12:00:00,-22.0,-25.0,76.7,0.0,0,1021.40,24.1,0.00,3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5968200,2019-12-31 12:00:00,-6.0,-14.0,53.6,3.7,271,1019.80,14.5,0.00,4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
print("Before optimization:")
dataset.info(memory_usage='deep')

Before optimization:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5968201 entries, 0 to 5968200
Data columns (total 18 columns):
 #   Column                   Dtype
---  ------                   -----
 0   report_date              object
 1   temperature              float64
 2   dew_point_temperature    float64
 3   relative_humidity        float64
 4   wind_speed               float64
 5   wind_direction           int64
 6   atmospheric_pressure     float64
 7   visibility               float64
 8   precipitation            float64
 9   rain_days                int64
 10  snow_on_ground           float64
 11  fine_fuel_moisture_code  float64
 12  duff_moisture_code       float64
 13  drought_code             float64
 14  build_up_index           float64
 15  initial_spread_index     float64
 16  fire_weather_index       float64
 17  daily_severity_rating    float64
dtypes: float64(15), int64(2), object(1)
memory usage: 1.1 GB

In [16]:
import numpy as np

# Convert float64 → float32 / float16
for col in dataset.select_dtypes(include=['float64']).columns:
    dataset[col] = pd.to_numeric(dataset[col], downcast='float')

# Convert int64 → int32 / int16
for col in dataset.select_dtypes(include=['int64']).columns:
    dataset[col] = pd.to_numeric(dataset[col], downcast='integer')

In [17]:
dataset

,report_date,temperature,dew_point_temperature,relative_humidity,wind_speed,wind_direction,atmospheric_pressure,visibility,precipitation,rain_days,snow_on_ground,fine_fuel_moisture_code,duff_moisture_code,drought_code,build_up_index,initial_spread_index,fire_weather_index,daily_severity_rating
0,2010-01-01 12:00:00,9.1,8.1,93.500000,19.0,160,1002.950012,21.500000,10.05,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010-01-01 12:00:00,7.3,7.3,100.000000,2.0,90,1002.099976,23.799999,7.40,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-01 12:00:00,5.8,5.8,100.000000,7.4,154,1003.000000,22.700001,14.78,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010-01-01 12:00:00,4.8,4.0,95.000000,7.0,160,1001.200012,18.299999,11.59,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-01-01 12:00:00,8.9,7.4,90.699997,9.0,80,1002.780029,22.100000,9.05,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5968196,2019-12-31 12:00:00,-22.0,-26.0,70.099998,0.0,0,1023.900024,14.500000,0.00,3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5968197,2019-12-31 12:00:00,-17.0,-24.0,54.799999,11.1,220,1023.000000,24.100000,0.00,1,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5968198,2019-12-31 12:00:00,-9.0,-18.0,48.400002,11.1,210,1018.200012,24.100000,0.00,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5968199,2019-12-31 12:00:00,-22.0,-25.0,76.699997,0.0,0,1021.400024,24.100000,0.00,3,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5968200,2019-12-31 12:00:00,-6.0,-14.0,53.599998,3.7,271,1019.799988,14.500000,0.00,4,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
print("After optimization:")
dataset.info(memory_usage='deep')

After optimization:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5968201 entries, 0 to 5968200
Data columns (total 18 columns):
 #   Column                   Dtype
---  ------                   -----
 0   report_date              object
 1   temperature              float32
 2   dew_point_temperature    float32
 3   relative_humidity        float32
 4   wind_speed               float32
 5   wind_direction           int16
 6   atmospheric_pressure     float32
 7   visibility               float32
 8   precipitation            float32
 9   rain_days                int16
 10  snow_on_ground           float32
 11  fine_fuel_moisture_code  float32
 12  duff_moisture_code       float32
 13  drought_code             float32
 14  build_up_index           float32
 15  initial_spread_index     float64
 16  fire_weather_index       float32
 17  daily_severity_rating    float64
dtypes: float32(13), float64(2), int16(2), object(1)
memory usage: 796.8 MB

In [19]:
dataset.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5968201 entries, 0 to 5968200
Data columns (total 18 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   report_date              5968201 non-null  object
 1   temperature              5967432 non-null  float32
 2   dew_point_temperature    5961968 non-null  float32
 3   relative_humidity        5962172 non-null  float32
 4   wind_speed               5967395 non-null  float32
 5   wind_direction           5968201 non-null  int16
 6   atmospheric_pressure     5962137 non-null  float32
 7   visibility               5967430 non-null  float32
 8   precipitation            5967829 non-null  float32
 9   rain_days                5968201 non-null  int16
 10  snow_on_ground           5968074 non-null  float32
 11  fine_fuel_moisture_code  4007493 non-null  float32
 12  duff_moisture_code       4004564 non-null  float32
 13  drought_code             4007434 non-null  float32
 14  build_up_index           3826448 non-null  float32
 15  initial_spread_index     3827584 non-null  float64
 16  fire_weather_index       3824766 non-null  float32
 17  daily_severity_rating    3824766 non-null  float64
dtypes: float32(13), float64(2), int16(2), object(1)
memory usage: 455.3+ MB

In [20]:
dataset.dropna(inplace = True)
dataset

,report_date,temperature,dew_point_temperature,relative_humidity,wind_speed,wind_direction,atmospheric_pressure,visibility,precipitation,rain_days,snow_on_ground,fine_fuel_moisture_code,duff_moisture_code,drought_code,build_up_index,initial_spread_index,fire_weather_index,daily_severity_rating
25,2010-01-01 12:00:00,6.1,5.1,93.000000,30.000000,100,993.900024,18.299999,10.40,0,0.0,21.500000,0.000000,0.800000,0.100000,0.0,0.0,0.0
35,2010-01-01 12:00:00,6.0,5.5,97.000000,13.000000,60,998.799988,14.700000,10.72,0,0.0,10.800000,0.000000,0.800000,0.000000,0.0,0.0,0.0
36,2010-01-01 12:00:00,5.0,3.8,92.000000,15.000000,100,1000.570007,9.700000,8.01,0,0.0,22.600000,0.000000,0.600000,0.100000,0.0,0.0,0.0
43,2010-01-01 12:00:00,4.3,1.1,79.599998,7.000000,7,998.099976,12.800000,9.60,0,0.0,23.799999,0.100000,0.500000,0.100000,0.0,0.0,0.0
45,2010-01-01 12:00:00,4.0,3.1,94.000000,9.000000,300,1000.000000,10.000000,21.00,0,0.0,9.400000,0.000000,0.400000,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5968121,2019-12-31 12:00:00,6.0,-7.0,39.099998,22.200001,240,1021.989990,16.100000,0.00,1,0.0,83.599998,36.299999,711.900024,64.400002,5.3,16.0,3.7
5968122,2019-12-31 12:00:00,14.0,2.0,44.500000,18.500000,280,1012.700012,16.100000,0.00,1,0.0,68.900002,3.700000,12.300000,4.200000,1.5,0.6,0.0
5968132,2019-12-31 12:00:00,-1.5,-4.1,82.300003,19.600000,96,1012.570007,12.900000,0.02,2,0.0,68.000000,0.100000,0.200000,0.000000,1.6,0.3,0.0
5968141,2019-12-31 12:00:00,-1.3,-2.2,93.900002,22.299999,68,1009.760010,1.200000,1.83,0,0.0,52.000000,0.000000,0.600000,0.000000,0.6,0.1,0.0
5968147,2019-12-31 12:00:00,-0.7,-4.7,74.800003,22.900000,117,1017.669983,21.400000,0.13,0,0.0,67.300003,0.100000,0.000000,0.000000,1.8,0.4,0.0

In [21]:
dataset.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Index: 3823755 entries, 25 to 5968147
Data columns (total 18 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   report_date              3823755 non-null  object
 1   temperature              3823755 non-null  float32
 2   dew_point_temperature    3823755 non-null  float32
 3   relative_humidity        3823755 non-null  float32
 4   wind_speed               3823755 non-null  float32
 5   wind_direction           3823755 non-null  int16
 6   atmospheric_pressure     3823755 non-null  float32
 7   visibility               3823755 non-null  float32
 8   precipitation            3823755 non-null  float32
 9   rain_days                3823755 non-null  int16
 10  snow_on_ground           3823755 non-null  float32
 11  fine_fuel_moisture_code  3823755 non-null  float32
 12  duff_moisture_code       3823755 non-null  float32
 13  drought_code             3823755 non-null  float32
 14  build_up_index           3823755 non-null  float32
 15  initial_spread_index     3823755 non-null  float64
 16  fire_weather_index       3823755 non-null  float32
 17  daily_severity_rating    3823755 non-null  float64
dtypes: float32(13), float64(2), int16(2), object(1)
memory usage: 320.9+ MB

In [22]:
dataset.to_csv(r'Dataset_raw_FWI.csv/cwfis_fwi2010s.csv_v1')

In [23]:
from sklearn.model_selection import train_test_split

In [32]:
train_data, temp_data = train_test_split(
     dataset,
    test_size=0.4,
    stratify=dataset['report_date'],
    random_state=42
)

In [33]:
train_data

,report_date,temperature,dew_point_temperature,relative_humidity,wind_speed,wind_direction,atmospheric_pressure,visibility,precipitation,rain_days,snow_on_ground,fine_fuel_moisture_code,duff_moisture_code,drought_code,build_up_index,initial_spread_index,fire_weather_index,daily_severity_rating
680029,2011-07-22 12:00:00,27.000000,13.0,42.000000,20.4,270,1010.349976,16.100000,0.00,1,0.0,89.400002,22.299999,255.699997,36.599998,11.0,20.299999,5.6
897578,2011-11-13 12:00:00,8.300000,2.3,65.000000,13.0,110,1012.700012,39.799999,0.00,1,0.0,63.200001,1.400000,59.000000,2.600000,0.9,0.300000,0.0
634458,2011-06-30 12:00:00,22.400000,15.7,66.000000,13.3,289,998.330017,22.799999,0.50,0,0.0,82.800003,13.100000,194.500000,22.400000,3.1,5.400000,0.5
5204316,2018-10-06 12:00:00,32.000000,22.0,55.500000,9.3,90,1019.900024,16.100000,0.00,6,0.0,89.599998,19.600000,156.600006,29.799999,6.5,12.300000,2.3
5599061,2019-06-19 12:00:00,17.600000,13.0,74.000000,2.4,1,1008.700012,16.600000,0.00,3,0.0,74.900002,6.100000,72.400002,10.100000,0.9,0.500000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4488832,2017-08-07 12:00:00,19.799999,13.5,67.000000,9.7,40,1020.640015,23.100000,0.00,3,0.0,86.599998,21.200001,29.500000,20.900000,4.3,7.100000,0.9
1868248,2013-06-19 12:00:00,21.700001,8.9,43.000000,0.0,0,1020.900024,16.100000,0.00,1,0.0,86.599998,18.400000,144.899994,27.900000,2.6,5.400000,0.5
4664264,2017-11-05 12:00:00,10.600000,2.0,55.000000,20.9,164,1018.200012,18.799999,1.32,0,0.0,63.700001,1.000000,4.200000,1.200000,1.4,0.400000,0.0
4132019,2016-12-26 12:00:00,6.000000,5.0,93.400002,0.0,0,1032.859985,11.300000,0.06,1,0.0,49.900002,0.600000,177.000000,1.100000,0.2,0.000000,0.0
3047194,2015-05-14 12:00:00,11.600000,10.6,93.599998,13.0,140,1014.900024,15.200000,26.10,0,0.0,16.700001,6.900000,287.000000,13.100000,0.0,0.000000,0.0

In [34]:
temp_data

,report_date,temperature,dew_point_temperature,relative_humidity,wind_speed,wind_direction,atmospheric_pressure,visibility,precipitation,rain_days,snow_on_ground,fine_fuel_moisture_code,duff_moisture_code,drought_code,build_up_index,initial_spread_index,fire_weather_index,daily_severity_rating
1975828,2013-08-14 12:00:00,18.500000,10.2,59.000000,7.100000,126,1012.409973,20.200001,0.200000,0,0.0,72.099998,71.300003,581.400024,109.199997,1.0,5.100000,0.5
5578630,2019-06-09 12:00:00,16.000000,10.7,71.000000,17.400000,141,1016.400024,43.200001,0.010000,1,0.0,79.800003,13.400000,198.699997,23.000000,2.7,4.700000,0.4
3055157,2015-05-18 12:00:00,31.000000,18.0,45.799999,11.100000,120,1020.900024,16.100000,0.250000,0,0.0,90.400002,47.299999,362.399994,71.300003,8.0,22.799999,6.9
5530748,2019-05-14 12:00:00,22.000000,2.0,26.799999,13.000000,180,1010.500000,16.100000,0.010000,8,0.0,92.099998,36.700001,162.100006,46.900002,11.2,23.299999,7.1
2528868,2014-07-11 12:00:00,21.299999,8.0,41.000000,14.800000,140,1018.500000,25.700001,0.000000,4,0.0,91.500000,57.599998,402.100006,84.800003,11.2,31.299999,12.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1587551,2012-12-25 12:00:00,8.300000,6.7,93.000000,22.200001,290,1004.500000,14.500000,37.080002,0,0.0,22.200001,22.500000,382.100006,39.299999,0.0,0.000000,0.0
1247217,2012-06-25 12:00:00,22.400000,6.2,35.099998,14.800000,200,1018.099976,18.200001,0.000000,6,0.0,89.800003,16.799999,173.600006,27.100000,8.8,14.800000,3.2
3281905,2015-09-08 12:00:00,28.000000,-6.0,10.200000,7.400000,150,1017.599976,16.100000,0.000000,3,0.0,96.699997,103.800003,837.599976,158.500000,15.9,50.099998,27.8
5684159,2019-07-30 12:00:00,31.200001,19.4,50.299999,13.900000,234,1013.429993,17.200001,0.000000,3,0.0,89.099998,37.799999,220.100006,52.900002,7.6,18.799999,4.9
1580568,2012-12-20 12:00:00,1.000000,1.0,100.000000,0.000000,312,1001.909973,7.100000,11.800000,0,0.0,1.600000,0.000000,0.000000,0.000000,0.0,0.000000,0.0

In [36]:
dev_data, test_data = train_test_split(
     temp_data,
     test_size=0.4,
     stratify=temp_data['report_date'],
     random_state=42
)

In [38]:
print("Train size:", len(train_data))
print("Dev size:", len(dev_data))
print("Test size:", len(test_data))

print("Report Date distribution in original:")
print(dataset['report_date'].value_counts(normalize=True))

print("Report Date distribution in Train:")
print(train_data['report_date'].value_counts(normalize=True))

print("Report Date distribution in Dev:")
print(dev_data['report_date'].value_counts(normalize=True))

print("Report Date distribution in Test:")
print(test_data['report_date'].value_counts(normalize=True))

Train size: 2294253
Dev size: 917701
Test size: 611801
Report Date distribution in original:
report_date
2016-08-17 12:00:00    0.000549
2016-08-16 12:00:00    0.000549
2016-08-19 12:00:00    0.000548
2016-08-03 12:00:00    0.000548
2016-08-04 12:00:00    0.000548
                         ...
2010-02-26 12:00:00    0.000002
2010-01-05 12:00:00    0.000002
2010-01-04 12:00:00    0.000002
2010-01-03 12:00:00    0.000002
2010-03-11 12:00:00    0.000001
Name: proportion, Length: 3652, dtype: float64
Report Date distribution in Train:
report_date
2016-08-17 12:00:00    5.491984e-04
2016-08-16 12:00:00    5.491984e-04
2016-08-13 12:00:00    5.483266e-04
2016-08-15 12:00:00    5.483266e-04
2016-08-02 12:00:00    5.483266e-04
                           ...
2010-02-16 12:00:00    2.179359e-06
2010-01-04 12:00:00    1.743487e-06
2010-01-03 12:00:00    1.743487e-06
2010-01-05 12:00:00    1.743487e-06
2010-03-11 12:00:00    8.717434e-07
Name: proportion, Length: 3652, dtype: float64
Report Date distribution in Dev:
report_date
2016-08-17 12:00:00    0.000549
2016-08-01 12:00:00    0.000548
2016-08-04 12:00:00    0.000548
2016-08-14 12:00:00    0.000548
2016-07-31 12:00:00    0.000548
                         ...
2010-01-02 12:00:00    0.000002
2010-02-21 12:00:00    0.000002
2010-01-04 12:00:00    0.000001
2010-03-11 12:00:00    0.000001
2010-01-03 12:00:00    0.000001
Name: proportion, Length: 3652, dtype: float64
Report Date distribution in Test:
report_date
2016-08-19 12:00:00    0.000549
2016-08-03 12:00:00    0.000549
2016-08-04 12:00:00    0.000549
2016-08-15 12:00:00    0.000549
2016-08-13 12:00:00    0.000549
                         ...
2010-01-04 12:00:00    0.000002
2010-01-21 12:00:00    0.000002
2010-03-10 12:00:00    0.000002
2010-02-22 12:00:00    0.000002
2010-01-01 12:00:00    0.000002
Name: proportion, Length: 3652, dtype: float64

In [39]:
train_data.to_csv(r'Dataset_raw_FWI.csv/train_data.csv', index = False)
dev_data.to_csv(r'Dataset_raw_FWI.csv/dev_data.csv', index = False)
test_data.to_csv(r'Dataset_raw_FWI.csv/test_data.csv', index = False)